*{
    box-sizing: border-box;
}
body{
   /* width: 100%; */
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;   
}

   /* HEADER */
header{
    width: 86%;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    
}
.content_container{
    margin: 0 auto; 
    text-align: center;
    display: flex;
    justify-content: center; /* Выравнивание элементов по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали */

}
.content_container button{
    display: inline-block;
    background-color: #147B43; 
    font-size: 24px; 
    color: white;
    border: none;
    border-radius: 30px;
    width: 174px;
    height: 66px;
    margin-right: 0;
}
.header_logo, .header_menu{
    width: 50%;
    
}
.header_logo {
    display: inline-block;
    text-align: left;
}
.header_logo img{
    display: inline-block;
    width: 310px;
    height: 90px;
}
.header_menu a{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    margin-right: 100px;
}
.header_menu a:last-child{
    margin-right: 0;
}
a:visited{
    color: #0b3c23;
}
.header_menu a:hover{
    color: #1f8651;
}

/* Section Content */
.content {
    width: 86%;
    margin: 0 auto;
    margin-bottom: 185px; 
    display: flex;
    justify-content: center; /* Выравнивание элементов по горизонтали */
    align-items: center; /* Выравнивание элементов по вертикали */

}
.block1_content{
    width: 70%;
}
.block1_content img{
    float: left;
    z-index: 3;
    position: absolute;
    top: 250px;
    left: 400px;
    /* width: 70%; */
}
.img_content{
    float: right;
    width: 30%;
    min-width: 793px;
    min-height: 486px;
    max-width: 793px;
    max-height: 486px;
    
}
.block1_content h1{
    /* z-index: 1; */
   /*  position: absolute; */
   text-align: left;
    top: 404px;
    left: 250px;
    /* float: left; */
    width: 70%;
    color: #000000;
    font-size: 55px;
}
.block1_content button{
    /* position: absolute; */
    top: 700px;
    left: 250px;
    width: 174px;
    height: 66px;
    display: inline-block;
    background-color: #F1F8F4; 
    font-size: 24px; 
    color: #147B43;
    border: none;
    border-radius: 30px;
}

/* FOOTER */

footer{
    box-sizing: border-box;
   /*  width: 86%; */
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
}
.footer_container{
    margin: 0 auto; 
    width: 86%;
    /* text-align: center; */
    display: flex;
    justify-content: space-around; /* Выравнивание элементов по горизонтали */
    /* align-items: center; */ /* Выравнивание элементов по вертикали */
    /* vertical-align: top; */
}
.footer_services, .footer_company, .footer_contact{
    width: 33.33%;
    }
.footer_container h3{
    font-size: 36px;
}
.footer_container a{
    display: block;
    margin-bottom: 20px;
}
.footer_container .footer_contact a, .footer_services a{
    font-size: 24px;
    text-align: left;
    text-decoration: none;
    color:#000000;
}
.footer_company a{
   text-align: left; /* Выравнивание контента по левому краю */
   color:#000000;
   font-size: 24px;
   text-decoration: none;
 }

 
.footer_container a:visited{
    color: #0b3c23;
}
.footer_container a:hover{
    color: #1f8651;
}
